* {
    margin: 0;
    padding: 0;
}

/* HEADER */
header nav div.container-fluid div.collapse h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2em;
    color: #2F5F48;
}

header nav div.container-fluid div.collapse ul li a {
    text-decoration: none;
    font-family: 'Wix Madefor Display',sans-serif;
    color: #2F5F48;
    font-weight: 400;
    font-size: 1em;
}

header nav ul li a:hover {
    font-style: italic;
}

header nav ul li{
    list-style-type: none;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    width: 80%;
    align-items: center;
}

header {
    padding: 2%;
    background-color: #F3F2EC;
    border-bottom: 1px solid #2F5F48;
}

.btn-header{
    padding: 0.5em;
    background-color: #2F5F48;
    color: #F3F2EC;
    border-radius: 5px;
    border: 1px solid #2F5F48;
    font-size: 1em;
    font-family: 'Wix Madefor Display', sans-serif;
}

.btn-header:hover{
    background-color: #F3F2EC;
    color: #2F5F48;
    border: 1px solid #2F5F48;
}

/* Secciones */

section {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3F2EC;
}

/* Seccion principal */
.grid-container{
    background-color: #F3F2EC;
    display: grid;
    grid-template-areas: 'texto texto image image image'
                         'image2 image2 image image image';
    gap: 1em;
    padding: 0 2% 6% 2%;
}

.item1{
    grid-area: texto;
}

.item2{
    grid-area: image;
}

.item3{
    grid-area: image2;
}

.p1{
    color: #2F5F48;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 4em;
}

.p2{
    color: #2F5F48;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
}


/* Seccion 1 */
section#nosotros h2 {
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #2F5F48;
}

.p3{
    color: #2F5F48;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 1.5em;
}

p {
    font-size: 1.5em;
    font-family: 'Wix Madefor Display', sans-serif;
    text-align: center;
    max-width: 80%;
    color: #2F5F48;
}

span{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* Seccion 2 */
.titulo{
    font-size: 3em;
    font-family:'Poppins', Arial, sans-serif;
    font-weight: 600;
    color: #2F5F48;
}

section ol li{
    margin-left: 2%;
    font-family: 'Wix Madefor Display', sans-serif;
    margin-bottom: 1em;
    color: #2F5F48;
}

div.requerimientos p {
    margin-bottom: 1em;
}

section a button {
    background-color: #2F5F48;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #2F5F48;
    margin-top: 2%;
    color: #F3F2EC;
}

section a button:hover{
    background-color: #F3F2EC;
    color: #2F5F48;
    border: 1px solid #2F5F48;
}

.requisitos{
    background-color: #F3F2EC;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 1.5em;
    margin: 0 3%;
}

.titulo{
    grid-area: 1 / 1 / 2 / 7;
    text-align: center;
}

.imagen{
    grid-area: 2 / 1 / 5 / 4;
    width: 100%;
    border-radius: 2%;
    border: 1px solid darkgray;
}

.requerimientos{
    grid-area:  2 / 4 / 7 / 7;
}

/* Seccion 3 */
.preguntas{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1em;
    margin: 5% 2%;
}

.image{
    grid-area: 1 / 1 / 3 / 3;
    width: 100%;
    border-radius: 2%;
    border: 1px solid darkgray;
}

.preguntas-frecuentes{
    grid-area: 1 / 3 / 3 / 5;
}

.titulo-preguntas{
    color: #2F5F48;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3em;
}

div.preguntas-frecuentes p{
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 1em;
}

.lista-preguntas{
    width: 100%;
}

.p-preguntas{
    font-weight: 600;
    color: #2F5F48;
}

/* Seccion 4 */
section#familias{
    padding-bottom: 10%;
}

section#familias h2{
    color: #2F5F48;
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    font-weight: 600;
}

span {
    color: #2F5F48;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

button {
    background-color: #2F5F48;
    padding: 0.5%;
    border-radius: 5px;
    color: #F3F2EC;
    border: 1px solid #2F5F48;
}

button:hover{
    background-color: #F3F2EC;
    color: #2F5F48;
    border: 1px solid #2F5F48;
}

.btn-familias{
    margin-top: 2%;
    border-radius: 5px;
}

/* FOOTER */
footer {
    padding: 2% 0;
    background-color: #2F5F48;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h2 {
    margin: 2% 0;
    color: #F3F2EC;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

footer p {
    font-family:'Wix Madefor Display', sans-serif;
    color: #F3F2EC;
    font-size: 1em;
}
*/
/* FORMULARIO */
.bd-color{
    background-color: #c3dfd8;
}

form p {
    font-size: 1.5em;
    font-family: 'League Spartan';
    color: #275d76;
    margin: 2% 0;
    text-align: start;
    font-weight: 500;
}

.imagen-formulario{
    width: 100%;
}

hr{
    margin: 5% 0;
}

.btn-enviar{
    color: antiquewhite;
    background-color: #275d76;
    padding: 0.5% 2%;
    border-radius: 5px;
}